# Interface auswählen
source [find interface/jlink.cfg]

# Transport auf SWD umstellen (bevor das Target geladen wird)
transport select swd

# Target auswählen
source [find target/stm32f4x.cfg]

# Optional: Geschwindigkeit festlegen
adapter speed 2000

init

# RTT starten (nachdem das Target geladen wurde)

# rtt setup 0x20000000 0x20000 "SEGGER RTT"
# rtt start
# rtt server start 9001 0